@charset "UTF-8";
.bg1140 {
  width: 1140px;
  margin: 0 auto;
}

header {
  width: 100%;
}

.width100 {
  width: 100px;
}

.width120 {
  width: 120px;
}

.width170 {
  width: 170px;
}

.diBg1 {
  height: 64px;
}

.diBg1 .he-logo a {
  display: block;
  padding-top: 7px;
  width: 146px;
  height: 57px;
  background: #c20813;
  text-align: center;
}

.diBg1 .he-logo a img {
  display: block;
  margin: 0 auto;
}

.diBg1 .welcome {
  display: block;
  padding-left: 20px;
  font-size: 15px;
  height: 64px;
  line-height: 64px;
  font-family: "Microsoft YaHei";
  color: #000;
}

.diBg1 .he-ri {
  height: 64px;
}

.diBg1 .he-ri a {
  display: block;
  height: 64px;
  text-align: center;
  line-height: 64px;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  font-weight: bold;
}

.diBg1 .he-ri .he-r-a1 {
  width: 48px;
  background: url(../img/contact/icon_home.png) no-repeat 12px 22px;
}

.diBg1 .he-ri .he-r-a2 {
  width: 48px;
  background: #c20813 url(../img/contact/icon_nav.png) no-repeat 12px 22px;
  margin-right: 14px;
}

.diBg1 .he-ri .he-r-a3 {
  margin: 0 8px;
  color: #c20813;
}

.diBg1 .he-ri .he-r-span1 {
  display: block;
  height: 64px;
  text-align: center;
  line-height: 64px;
  font-size: 14px;
  color: #6f6f6f;
}

.diBg1 .he-ri .he-r-a4 {
  margin: 0 8px;
  color: #6f6f6f;
}

.diBg2 {
  height: 131px;
  position: relative;
}

.diBg2 .he-img1 {
  width: 100%;
  height: 131px;
  overflow: hidden;
  position: relative;
}

.diBg2 .he-img1 img {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -960px;
  z-index: 1;
}

.diBg2 .bg-black {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
}

.diBg2 .bg-black .he-nav {
  display: block;
  height: 40px;
}

.diBg2 .bg-black .he-nav li {
  height: 40px;
  position: relative;
}

.diBg2 .bg-black .he-nav li a {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: #dadada;
  text-align: center;
}

.diBg2 .bg-black .he-nav li a:hover {
  background: rgba(146, 146, 146, 0.7);
}

.diBg2 .bg-black .he-nav li .he-subnav {
  display: none;
  position: absolute;
  left: 0;
  top: 40px;
}

.diBg2 .bg-black .he-nav li .he-subnav a {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  color: #dadada;
  text-align: center;
  background: rgba(0, 0, 0, 0.65);
}

.diBg2 .bg-black .he-nav li .he-subnav a:hover {
  color: #fff;
  text-decoration: underline;
}

.diBg2 .bg-black .he-nav li:hover > .he-subnav {
  display: block;
}

.diBg3 {
  width: 100%;
  height: 52px;
  line-height: 52px;
  border-bottom: 1px solid #f2f2f2;
  color: #656565;
  margin-bottom: 20px;
}

.diBg3 .left p {
  display: block;
  height: 52px;
  line-height: 52px;
  font-size: 14px;
  font-family: "Microsoft YaHei";
}

.diBg3 .left p a {
  color: #656565;
}

.diBg3 .md-nav li {
  height: 52px;
}

.diBg3 .md-nav li a {
  display: block;
  height: 49px;
  line-height: 49px;
  padding: 0 12px;
  margin: 0 3px;
  font-size: 14px;
  color: #656565;
  font-weight: 800;
  border-bottom: 3px solid transparent;
}

.diBg3 .md-nav li .bor {
  border-bottom: 3px solid #c20813;
}

.diBg3 .md-nav li a:hover {
  border-bottom: 3px solid #c20813;
}

article {
  width: 100%;
}

article .ar-left {
  width: 840px;
  padding-right: 40px;
  padding-bottom: 100px;
  margin-bottom: 20px;
  border-right: 1px solid #f2f2f2;
}

article .ar-left .xian {
  height: 2px;
  background: #f2f2f2;
  margin: 30px 42px;
}

article .ar-left .ar-main h2 {
  display: block;
  padding-left: 12px;
  position: relative;
  margin: 20px 0;
  line-height: 34px;
  font-size: 24px;
  font-family: "é»‘ä½“";
  font-weight: normal;
  color: #656565;
}

article .ar-left .ar-main h2 span {
  position: absolute;
  left: 0;
  display: block;
  width: 4px;
  height: 24px;
  margin-top: 7px;
  background-color: #c20813;
}

article .ar-left .ar-main button {
  margin-left: 12px;
  margin-top: 5px;
}

article .ar-left .ar-main button a {
  color: #000;
}

article .ar-left .ar-main p {
  display: block;
  padding-left: 12px;
  position: relative;
  line-height: 24px;
  font-size: 14px;
  color: #656565;
  font-family: "Microsoft YaHei";
  margin-bottom: 3px;
}

article .ar-left .ar-main p a {
  color: #656565;
}

article .ar-left .ar-main p span {
  position: absolute;
  left: 0;
  display: block;
  width: 4px;
  height: 4px;
  margin-top: 10px;
  background-color: #c20813;
}

article .ar-right {
  width: 240px;
  height: 360px;
  background: #0f0;
  position: relative;
  overflow: hidden;
}

article .ar-right .xiaolunbo {
  position: absolute;
  z-index: 20;
  width: 480px;
  height: 360px;
}

article .ar-right .lunbo-dian {
  position: absolute;
  right: 20px;
  bottom: 18px;
  z-index: 200;
  height: 16px;
}

article .ar-right .lunbo-dian span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #e0e0e0;
  margin: 2px;
  cursor: pointer;
}

footer {
  width: 100%;
}

footer .bg1200 {
  width: 1200px;
  margin: 0 auto;
}

footer .bg1200 ul li div {
  height: 32px;
  line-height: 32px;
  padding-bottom: 10px;
  border-bottom: 2px solid #999999;
  margin-bottom: 10px;
  font-size: 18px;
  color: #6f6f6f;
  font-family: "Microsoft YaHei";
}

footer .bg1200 ul li a {
  display: block;
  color: #6f6f6f;
  padding: 6px 0;
  text-align: left;
  font-size: 14px;
}

footer .bg1200 ul li a:hover {
  text-decoration: underline;
}

footer .bg1200 ul li:hover div {
  border-bottom: 2px solid #c20813;
}

footer .bg1200 ul .mrg-rig153 {
  margin-right: 153px;
}

footer .fengexian {
  height: 1px;
  background: #e5e5e5;
  margin: 50px 0 30px;
}

footer .foo-btm {
  width: 100%;
  text-align: center;
  padding-bottom: 80px;
  font-size: 14px;
}

footer .foo-btm ul {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

footer .foo-btm ul li a {
  color: #656565;
}

footer .foo-btm ul i {
  display: block;
  width: 1px;
  height: 14px;
  margin: 3px 8px;
  background: #a1a1a1;
}

footer .foo-btm p {
  line-height: 24px;
  color: #a1a1a1;
}

footer .foo-btm p a {
  color: #656565;
}
