#lunbotu {
  height: 440px;
  width: 100%;
  position: relative;
  z-index: 1;
  background: #666;
}

#lunbotu .bg-tu {
  width: 1920px;
  height: 440px;
  position: absolute;
  left: 50%;
  margin-left: -960px;
  overflow: hidden;
}

#lunbotu .bg-tu ul {
  display: block;
  width: 3840px;
  height: 440px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

#lunbotu .bg-tu ul li {
  width: 1920px;
  height: 440px;
}

#lunbotu .bg-tu ul li img {
  display: block;
  width: 1920px;
}

#lunbotu .bg-tu .jiantou {
  position: relative;
  z-index: 20;
  width: 1190px;
  margin: 0 auto;
}

#lunbotu .bg-tu .jiantou span {
  position: absolute;
  top: 180px;
  width: 47px;
  height: 80px;
  background: #de2f3c;
  cursor: pointer;
  border-radius: 4px;
}

#lunbotu .bg-tu .jiantou .lbt_left {
  background: rgba(0, 0, 0, 0.3) url(../img/base.png) no-repeat 0 -20px;
}

#lunbotu .bg-tu .jiantou .lbt_left:hover {
  background: rgba(0, 0, 0, 0.75) url(../img/base.png) no-repeat 0 -20px;
}

#lunbotu .bg-tu .jiantou .lbt_right {
  right: 0;
  background: rgba(0, 0, 0, 0.3) url(../img/base.png) no-repeat -47px -20px;
}

#lunbotu .bg-tu .jiantou .lbt_right:hover {
  background: rgba(0, 0, 0, 0.75) url(../img/base.png) no-repeat -47px -20px;
}

#lunbotu .bg-tu ol {
  display: block;
  position: absolute;
  z-index: 60;
  bottom: 40px;
  left: 50%;
  margin-left: -19px;
}

#lunbotu .bg-tu ol li {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #eff0f2;
  margin: 0 6px;
  cursor: pointer;
}

#guanggao {
  height: 146px;
  padding-bottom: 40px;
  position: relative;
  z-index: 10;
}

.gg-lan {
  margin-top: -15px;
  z-index: 10;
}

.gg-lan a {
  float: left;
  transition: all 0.4s;
}

.gg-lan a:nth-of-type(2) {
  margin-left: 16px;
  margin-right: 16px;
}

#commodity {
  padding-bottom: 20px;
  background: #f5f5f5;
}

.c-title {
  width: 100%;
  height: 40px;
  padding: 37px 0 20px;
}

.c-title .title-logo {
  display: inline-block;
}

.c-title .title-logo img {
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: top;
}

.c-title .title-logo h2 {
  display: inline-block;
  font-size: 32px;
  color: #474747;
  margin-left: 10px;
  font-weight: 500;
}

.c-title .recommend {
  display: inline-block;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 3px solid #de2f3c;
  color: #e90303;
  margin-left: 160px;
  margin-top: 10px;
}

.c-title .gengduo {
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

.c-title .gengduo a {
  display: inline-block;
  font-size: 16px;
  color: #666666;
}

.c-title .gengduo a i {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  background: url(../img/base.png) no-repeat -90px 0;
}

.c-title .gengduo a:hover {
  color: #e90404;
}

.c-title .gengduo a:hover i {
  background-position: -111px 0;
}

.c-content {
  width: 100%;
  height: 615px;
}

.cc-left {
  width: 226px;
  margin-right: 15px;
  height: 615px;
  position: relative;
}

.cc-right {
  width: 949px;
  height: 100%;
  position: relative;
}

.cc-right > div {
  position: relative;
  float: left;
  transition: all 0.3s;
}

.cc-li1 {
  width: 467px;
  height: 300px;
}

.cc-li1 div {
  transition: all 0.3s;
}

.cc-li2 {
  width: 226px;
  height: 300px;
}

.cc-li2 div {
  width: 100%;
  height: 253px;
  background: #fff;
  padding-top: 47px;
  transition: all 0.4s;
  position: relative;
  overflow: hidden;
}

.cc-li2 div a {
  position: relative;
  background: #fff;
}

.cc-li2 div a img {
  width: 160px;
  height: 160px;
  margin: 0px auto 15px;
}

.cc-li2 div p {
  position: relative;
  display: block;
  text-align: center;
}

.cc-li2 div .cc-p1 {
  font-size: 14px;
  color: #474747;
  margin: 0 0 10px;
}

.cc-li2 div .cc-p2 {
  font-size: 18px;
  color: #eb0303;
  font-family: Arial;
}

.cc-li2 div .cc-extra-p1 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 52px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  border-radius: 50%;
  background: #ff5353;
  color: #fff;
  font-size: 12px;
}

.cc-li2 div .cc-extra-p1 span {
  font-size: 26px;
  font-family: Arial;
  color: #fff;
}

.cc-li2 div .cc-extra-a1 {
  position: absolute;
  top: 21px;
  right: 20px;
  color: #999;
  font-family: Arial;
  line-height: 14px;
  font-size: 12px;
}

.cc-li2 div .cc-extra-a1 i {
  display: inline-block;
  width: 13px;
  height: 11px;
  overflow: hidden;
  margin-right: 5px;
  background: url(../img/base.png) no-repeat -132px 0;
  vertical-align: middle;
}

.cc-li2 div .cc-extra-a1:hover {
  color: #e90404;
}

.cc-li2 div .cc-extra-a1:hover i {
  background-position: -145px 0;
}

.cc-li2 div .cc-slide {
  width: 226px;
  height: 90px;
  position: absolute;
  bottom: -91px;
  background-color: rgba(0, 0, 0, 0.74);
  padding: 0;
  text-align: center;
}

.cc-li2 div .cc-slide .cc-slide-a1 {
  display: block;
  width: 74px;
  height: 14px;
  margin: 12px auto;
  background: url(../img/stars.png) no-repeat 0 -28px;
}

.cc-li2 div .cc-slide .cc-slide-a2 {
  position: absolute;
  top: 38px;
  left: 50%;
  width: 214px;
  height: 45px;
  line-height: 45px;
  margin: 0 auto 0 -108px;
  border: 1px solid #FFF;
  font-size: 16px;
  color: #FFF;
  background: transparent;
}

.cc-li2 div .cc-slide .cc-slide-a2 i {
  display: inline-block;
  width: 22px;
  height: 18px;
  margin-right: 9px;
  vertical-align: -3px;
  background: url(../img/base.png) no-repeat -184px -38px;
}

.cc-li2 div .cc-slide .cc-slide-a2:hover {
  background: #e32332;
  border-color: #e32332;
}

.cc-hover-slide:hover .cc-slide {
  bottom: 0px;
}

.mgin-rigt15 {
  margin-right: 15px;
}

.mgin-btm15 {
  margin-bottom: 15px;
}

#evaluate {
  padding-bottom: 20px;
  background: #f5f5f5;
}

#evaluate .eva-title {
  padding: 37px 0 20px 0;
}

#evaluate .eva-title img {
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: top;
}

#evaluate .eva-title span {
  display: inline-block;
  font-size: 32px;
  color: #474747;
  margin-left: 10px;
  font-weight: 500;
}

#evaluate .eva-main {
  padding-bottom: 25px;
}

#evaluate .eva-main ul li {
  width: 386px;
  height: 176px;
  margin-bottom: 15px;
}

#evaluate .eva-main ul li div {
  width: 330px;
  height: 120px;
  padding: 25px;
  background: #fff;
  transition: all 0.3s;
}

#evaluate .eva-main ul li div a {
  display: block;
  width: 100%;
  height: 100%;
}

#evaluate .eva-main ul li div a img {
  float: left;
}

#evaluate .eva-main ul li div a .eva-right {
  width: 184px;
  height: 120px;
  margin-left: 15px;
  padding: 0;
}

#evaluate .eva-main ul li div a .eva-right .eva-fangkuai {
  width: 100%;
  height: 80px;
  padding: 0;
  font-size: 12px;
  color: #666;
}

#evaluate .eva-main ul li div a .eva-right .eva-fangkuai .eva-p1 {
  line-height: 20px;
}

#evaluate .eva-main ul li div a .eva-right .eva-p2 {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #999;
  margin-bottom: 5px;
}

#evaluate .eva-main ul li div a .eva-right .eva-p2 i {
  display: inline-block;
  width: 14px;
  height: 12px;
  margin-right: 3px;
  background: url(../img/base.png) no-repeat -174px 0;
}

#evaluate .eva-main ul li div a .eva-right .eva-price {
  color: #ea0406;
  padding-left: 6px;
  margin-left: 6px;
  font-family: Arial;
  border-left: 1px solid #DDD;
}

#evaluate .eva-main ul .eva-li {
  margin-left: 15px;
  margin-right: 15px;
}
